@{
    Layout = "Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li class="active">Admin</li>
</ol>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="list-group">
            <a href="/admin/coins" class="list-group-item">
                <span class="fa fa-database fa-3x fa-fw pull-left"></span>
                <h3 class="list-group-item-heading">Mündikogu</h3>
                <p class="list-group-item-text">Müntidega majandamine</p>
            </a>
            <a href="/admin/countries" class="list-group-item">
                <span class="fa fa-globe fa-3x fa-fw pull-left"></span>
                <h3 class="list-group-item-heading">Riigid</h3>
                <p class="list-group-item-text">Riikide majandamine</p>
            </a>
        </div>
    </div>
</div>
