@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<System.String[]>

<section id="commemorative-coins">
    <ul class="list-unstyled">
    @foreach (var year in @Model) {
        <li><a href="/coins/@year">@year</a></li>
    }
    </ul>
</section>
