@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Jnx.Database.Types.Country[]>

<section id="countries">
    <ul class="list-unstyled">
    @foreach (var country in @Model) {
        <li><a href="/coins/@country.Code">@country.Name</a></li>
    }
    </ul>
</section>
