@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Jnx.Modules.ViewData<Jnx.Modules.CommemorativesOfYear>>
@{
    Layout = "Coins/_Layout.cshtml";
}

<div class="page-header">
    <h1>Mälestusmündid aastast @Model.ViewDetails.Year</h1>
</div>

<div class="row">
@foreach (var coin in @Model.ViewDetails.Coins) {
    <div class="col-sm-3 col-xs-6">
        <a href="/coins/@coin.Id/edit" class="thumbnail">
            <img src="/Content/@coin.ImageUri" title="@coin.Country.Name" alt="@coin.Country.Name" />
        @if (coin.ForTrade > 0) {
            <span class="badge pull-right">+@coin.ForTrade</span>
        }
        </a>
    </div>
}
</div>
