@{
    Layout = "Coins/_Layout.cshtml";
}

<div class="page-header">
    @if (@Model[1].Coin is Jnx.Database.Types.CommonCoin) {
        <h1>@Model[1].Country.Genitive €@Model[1].Coin.NominalValue käibemünt</h1>
    } else {
        <h1>@Model[1].Country.Genitive @Model[1].Coin.Year mälestusmünt</h1>
    }
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-6">
                <img data-src="holder.js/100%x180" alt="..." />
            </div>
            <div class="col-xs-6">
                Tere
            </div>
        </div>
    </div>
</div>