@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Jnx.Modules.ViewData<Jnx.Database.Types.Coin>>
@using Jnx.Helpers
@{
    Layout = "Coins/_Layout.cshtml";
}

<div class="page-header">
    @if (Html.IsCommonCoin(Model.ViewDetails)) {
        <h1>@Model.ViewDetails.Country.Genitive @Html.Raw(Html.CoinNominalValue(Model.ViewDetails)) k채ibem체nt</h1>
    } else {
        <h1>@Model.ViewDetails.Country.Genitive @Html.CoinCommemorativeYear(Model.ViewDetails) m채lestusm체nt</h1>
    }
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-6">
                <img data-src="holder.js/100%x180" alt="..." />
            </div>
            <div class="col-xs-6">
                Tere
            </div>
        </div>
    </div>
</div>