@{
    Layout = "Coins/_Layout.cshtml";
}

<h1>Euromündid riikide kaupa <small>Põllukate mündikogu</small></h1>

<ul class="list-group">
    <li class="list-group-item">
        Cras justo odio
        <span class="label label-success">7</span>
        <span class="label label-default">14</span>
    </li>
</ul>
