@{
    Layout = "Coins/_Layout.cshtml";
}

<div class="page-header">
    <h1>Euromündid väärtusega &euro;@Model[1].NominalValue.ToString("0.00")</h1>
</div>

<div class="row">
@foreach (var coin in @Model[1].Coins) {
    <div class="col-sm-3 col-xs-6">
        <a href="/coins/@coin.Coin.Id/edit" class="thumbnail">
            <img src="/Content/@coin.Coin.ImageUri" title="@coin.Country.Name" alt="@coin.Country.Name" />
        </a>
    </div>
}
</div>