@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Jnx.Repositories.Country>
@{
    Layout = "Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="pull-right">
        <a class="btn btn-default" href="/countries/@Model.Code/edit"><i class="fa fa-edit fa-lg"></i> Muuda</a>
        <a class="btn btn-default" id="delete-country" href="/countries/@Model.Code"><i class="fa fa-trash-o fa-lg"></i> Kustuta</a>
    </div>
    <h1>@Model.Name</h1>
</div>
