<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.1.1" targetFramework="net45" />
  <package id="Fanciful" version="0.3.0-beta" targetFramework="net45" />
  <package id="FontAwesome" version="4.1.0" targetFramework="net45" />
  <package id="jQuery" version="2.1.1" targetFramework="net45" />
  <package id="Nancy" version="0.22.2" targetFramework="net45" />
  <package id="Nancy.Authentication.Forms" version="0.22.2" targetFramework="net45" />
  <package id="Nancy.Hosting.Self" version="0.22.2" targetFramework="net45" />
  <package id="Nancy.SimpleAuthentication" version="0.3.12" targetFramework="net45" />
  <package id="Nancy.Validation.DataAnnotations" version="0.22.2" targetFramework="net45" />
  <package id="Nancy.Viewengines.Razor" version="0.22.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net45" />
  <package id="Npgsql" version="2.1.3" targetFramework="net45" />
  <package id="RestSharp" version="104.1" targetFramework="net45" />
  <package id="SimpleAuthentication.Core" version="0.3.9" targetFramework="net45" />
  <package id="System.Web.Razor.Unofficial" version="2.0.2" targetFramework="net40" />
  <package id="Twitter.Bootstrap" version="3.0.1.1" targetFramework="net40" />
</packages>