<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.2.0" targetFramework="net45" />
  <package id="Fanciful" version="0.3.0-beta" targetFramework="net45" />
  <package id="FontAwesome" version="4.2.0" targetFramework="net45" />
  <package id="FunScript" version="1.1.81" targetFramework="net45" />
  <package id="FunScript.TypeScript.Binding.jquery" version="1.1.0.37" targetFramework="net45" />
  <package id="FunScript.TypeScript.Binding.lib" version="1.1.0.37" targetFramework="net45" />
  <package id="jQuery" version="2.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.2" targetFramework="net45" />
  <package id="Nancy" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.Authentication.Forms" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.Hosting.Self" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.SimpleAuthentication" version="0.3.14" targetFramework="net45" />
  <package id="Nancy.Validation.DataAnnotations" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.Viewengines.Razor" version="0.23.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net45" />
  <package id="Npgsql" version="2.2.1" targetFramework="net45" />
  <package id="RestSharp" version="104.5.0" targetFramework="net45" />
  <package id="SimpleAuthentication.Core" version="0.3.14" targetFramework="net45" />
  <package id="Twitter.Bootstrap" version="3.0.1.1" targetFramework="net40" />
</packages>