@using Jnx.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Jnx</a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>@Html.MenuItem("Mündikogu", "/coins")</li>
                            <li>@Html.MenuItem("Bla", "/bla")</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                @RenderBody()

                <div id="footer-container">
                    <footer>
                        <div class="media">
                            <a class="pull-left" href="http://nancyfx.org/" target="_blank">
                                <img class="media-object" src="/Content/nancy-inverted-1.png" alt="Made with Nancy." title="Made with Nancy." />
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Made with <a href="http://nancyfx.org/" target="_blank">Nancy</a>.</h4>
                                Nancy - Lightweight Web Framework for .NET
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>

    <script src="/Scripts/jquery-2.0.3.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
</body>
</html>
