<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Minimal Bootflat Example</title>
    <link rel="stylesheet" href="/Content/bootstrap.min.css"/>
    <link rel="stylesheet" href="/Content/bootflat/bootflat.min.css"/>
</head>

<body>

    @RenderBody()

<!-- Bootstrap -->
<script src="/Scripts/jquery-2.1.3.min.js"></script>
<script src="/Scripts/bootstrap.min.js"></script>

<!-- Bootflat's JS files -->
<script src="/Scripts/Bootflat/icheck.min.js"></script>
<script src="/Scripts/Bootflat/jquery.fs.selecter.min.js"></script>
<script src="/Scripts/Bootflat/jquery.fs.stepper.min.js"></script>

</body>
</html>